<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <th>book</th>
        <th>reader</th>
        <th>issuedAt</th>
        <th>returnedAt</th>
    </tr>
    <tr th:each="issue : ${issues}">
        <td th:text="${issue.getBookId()}"></td>
        <td th:text="${issue.getReaderId()}"></td>
        <td th:text="${issue.getIssuedAt()}"></td>
        <td th:text="${issue.getReturnedAt()}"></td>
    </tr>
</table>
</body>
</html>